.details {
    margin-top: 40px;
    margin-bottom: 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        background: var(--light-white);
        align-items: center;
        justify-content: center;
        display: flex;
        border: 1.5px solid var(--light-white);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    &__item+&__item {
        margin-left: 20px;
    }

    &__item-info {
        background: var(--white);
    }

    &__item-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }

    &__item-image {
        text-align: center;
        width: 160px;
        justify-content: center;
        align-items: center;
    }

    &__item-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        color: var(--black);

    }

    &__item-info {
        justify-content: center;
        padding: 35px 30px 35px 15px;
    }
}