.header {
    margin: 25px 0;

    &__inner {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
}

.menu {
    margin-left: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: var(--black);

    &__list {
        align-items: center;
        display: flex;
    }

    &__item+&__item {
        margin-left: 30px;
    }

    &__item-link {
        display: inline-block;
        position: relative;
    }

    &__item-link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -1px;
        left: 0;
        background-color: #000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &__item-link:hover{
        color: #000;
    }
    &__item-link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.sidemenu {
    // margin-left: 235px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    &__list {
        align-items: center;
        display: flex;
    }

    &__item.phone {
        margin-right: 20px;
    }

    &__item+&__item {
        margin-left: 20px;
    }

    &__btn {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }

    &__btn:hover {
        background: rgb(218, 218, 218);
    }
}