.products {
    margin-bottom: 80px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
    }

    &__link {
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        position: relative;
        padding-right: 20px;
    }
    &__link::after{
        content: '';
        width: 32px;
        height: 32px;
        background-image: url(../images/arrow.svg);
        position: absolute;
        right: 0;
        top: 3px;
        left: 110px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item+&__item {
        margin-left: 20px;
    }

    &__item {
        background: var(--white);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    &__item-title {
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
    } 

    &__item-bottom {
        margin-top: 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__item-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__info {
        width: 305px;
        max-height: 127px;
        padding: 20px 20px;
    }
    &__image{
        background: var(--light-white);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 230px;
    }
    &__item-bottom-price {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: var(--purple);
    }
}