@import "./normalize";
@import "./base";
@import "./header";

.main {
    &__inner {
        align-items: center;
        background: #F5F5F5;
        border-radius: 10px;
        padding: 100px 50px;
        display: flex;
        width: auto;
        justify-content: space-between;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    &__info-title {
        font-weight: 700;
        font-size: 41px;
        line-height: 53px;
    }

    &__info-text {
        margin-top: 10px;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        color: rgba(0, 0, 0, 0.9);
    }

    &__info {
        margin-right: 30px;
    }

    &__info-input {
        margin-top: 30px;
        border-radius: 10px;
        width: 514px;
        padding: 20px 20px;
        color: rgba(0, 0, 0, 0.6);
        border: 2px solid rgba(0, 0, 0, 0.4);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background: transparent;
    }

    &__info-input:focus {
        outline: none;
    }

    &__info-input:focus::placeholder {
        color: transparent;
    }

    &__info-input::placeholder {
        color: rgba(0, 0, 0, 0.6);
    }

    &__input-block {
        position: relative;
        align-items: center;
        display: flex;
        width: 514px;
    }

    &__info-btn {
        position: absolute;
        background: rgba(66, 0, 255, 0.8);
        border: none;
        bottom: 0;
        right: 0;
        padding: 17px;
        border-radius: 0 8px 8px 0;
        -webkit-border-radius: 0 8px 8px 0;
        -moz-border-radius: 0 8px 8px 0;
        -ms-border-radius: 0 8px 8px 0;
        -o-border-radius: 0 8px 8px 0;
    }
}

.details {
    margin-top: 40px;
    margin-bottom: 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        border: 1.5px solid #F2F2F2;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    &__item+&__item {
        margin-left: 20px;
    }

    &__item-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }

    &__item-image {
        text-align: center;
        width: 160px;
        justify-content: center;
        align-items: center;
    }

    &__item-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.6);

    }

    &__item-info {
        justify-content: center;
        padding: 35px 30px 35px 15px;
    }

    &__item-image {
        background: #f5f5f5;
        padding: 10px;
    }
}

.benefits {
    margin-top: 40px;
    margin-bottom: 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        border: 1.5px solid #F2F2F2;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    &__item+&__item {
        margin-left: 20px;
    }

    &__item-image {
        text-align: center;

    }

    &__item-image-img {
        padding: 30px 30px;
    }

    &__item-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }

    &__item-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.6);

    }

    &__item-info {
        justify-content: center;
        padding: 35px 30px 35px 15px;
    }

    &__item-image {
        background: #f5f5f5;
        padding: 10px;
    }
}

.build {
    &__inner {
        display: flex;
    }
    &__info{
        background: #f5f5f5;
        padding-left: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 95px;
    }
    &__info-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 40px;
    }
    &__info-link {
        position: relative;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        padding: 15px 70px 15px 30px;
        border: 2px solid #000000;
        border-radius: 5px;
    }
    &__info-link::after{
        content: url(../images/arrow.svg);
        position: absolute;
        top: 18px;
        left: 150px;
    }
}